{
  "env": {
    "development": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": true,
            "preprocess": false,
            "minify": false,
            "transpileTemplateLiterals": false
          }
        ]
      ],
      "presets": ["next/babel"]
    },
    "production": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": false,
            "fileName": false,
            "minify": true,
            "transpileTemplateLiterals": true,
            "pure": true
          }
        ]
      ],
      "presets": ["next/babel"]
    }
  },
  "plugins": [["styled-components"]]
}
